{% extends "visky/base.html" %}
{% block content %}
    {% include 'visky/form.html' %}
    {% if q %}
        <a class='hover:underline' href="{% url 'all' %}"><h2>Назад</h2></a>
        <h4>Результати пошуку за запитом <b style="color: #3875d7">{{ q }}</b></h4>
    {% endif %}
<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
    <thead class="min-w-full bg-gray-50">
    <tr>
        <th>Назва</th>
        <th>Ціна</th>
        <th>Код</th>
        <th>Характеристики</th>
    </tr>
    </thead>
    <tbody class="bg-sky-150 divide-y divide-gray-200 dark:divide-gray-700 items-center">
    {% for elem in alcohols %}
	<tr class=''>
        <td class="px-4 py-4 text-sm whitespace-nowrap">
            <a href="{{ elem.product_link }}">
                <picture><img src="{{elem.image}}" loading="lazy"
                    alt="Фото відсутнє" class="object-cover w-30 h-100 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0">
            </a>
            <h4 class="font-sans">{{elem.name}}</h4>
            </picture>
        </td>
        <td class="px-4 py-4 text-sm whitespace-nowrap"><p class="font-sans">{{ elem.prices.0.popitem.1 }}</p></td>
        <td class="px-4 py-4 text-sm whitespace-nowrap"><p class="font-sans">{{ elem.product_code }}</p></td>
        <td class="px-4 py-4 text-left whitespace-nowrap">
            <ul>
                <p class="font-sans">
                {% for characteristic in elem.description %}
                    <li>{{characteristic.0}}: {{ characteristic.1 }}</li>
                    {% endfor %}
                </p>
            </ul>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const l = document.querySelectorAll('li')
        l.forEach(el => {
            if (el.innerText==='None: None') {
                el.innerText="Немає опису даного товару"
            }

        })
    })
</script>

{% endblock %}
